name: Clean outdated image
on:
  workflow_dispatch:

permissions: write-all

jobs:
  clean:
    runs-on: ubuntu-latest
    steps:
      - name: Clean outdated image
        uses: actions/github-script@v8
        with:
          github-token: ${{ secrets.TOKEN }}
          script: |
            function shouldDelete(version) {
              if (version.metadata.container.tags.length == 0) {
                return true;
              } else {
                for (tag of version.metadata.container.tags) {
                  if (tag.startsWith("v") || tag === "master") {
                    return false;
                  }
                }
              }
              return true;
            }
            
            const response = await github.request("GET /user/packages/container/${{ env.PACKAGE_NAME }}/versions",
              { per_page: ${{ env.PER_PAGE }}
            });
            for(version of response.data) {
                if (shouldDelete(version)) {
                    console.log("delete " + version.id)
                    const deleteResponse = await github.request("DELETE /user/packages/container/${{ env.PACKAGE_NAME }}/versions/" + version.id, { });
                    console.log("status " + deleteResponse.status)
                }
            }
        env:
          OWNER: Zxilly
          PACKAGE_NAME: animatedtimeline
          PER_PAGE: 100
