name: Test Action
on:
  workflow_dispatch:

permissions: read-all

jobs:
  test:
    strategy:
      matrix:
        type: [ webp, gif, both ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        with:
          login: Zxilly
          output: 'animation'
          type: ${{ matrix.type }}
      - uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.type }}
          path: |
            animation*
